body {
	background-color: #000000;
 	font-weight: normal;
}

.time, .sender {
	white-space: nowrap;
}

.context * {
	color: #666666;
}

.content .time {
	color: #00CC00;
}

.content .sender {
	color: #00CCCC;
}

.incoming.content .message {
	color: #65B042;
}

.outgoing.content .message {
	color: #E0C589;
}

.status {
	color: #F8F8F8;
}

.status.online,
.status.offline,
.status.away,
.status.away_message,
.status.return_away,
.status.idle,
.status.return_idle,
.status.contact_joined,
.status.contact_left {
	dislay: none;
}
