body {
	background-color: #000000;
	font-weight: normal;
}

.context * {
	color: #888888;
}

.content .time {
	color: #00CC00;
}

.content .sender {
	color: #00CCCC;
}

.incoming.content .message {
	color: #CCCC00;
}

.outgoing.content .message {
	color: #00FF00;
}

/*  --------- Status  --------- */
.status {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

.status .message {
/*	color: #F8F8F8;*/
}

.status .online,
.status .offline,
.status .away,
.status .away_message,
.status .return_away,
.status .idle,
.status .return_idle,
.status .contact_joined,
.status .contact_left {
	dislay: none;
}
